<div class="container col-sm-5">
	<h1>Editing Student</h1>

	<%= render 'form', student: @student %>

	<%= link_to 'Show', @student , class:"btn btn-info"%> |
	<%= link_to 'Back', students_path , class:"btn btn-warning"%>
</div>